body {
  --canvas_height: 375px;
}
#elCanvas {
  height: var(--canvas_height);
  width: 812px;
  z-index: 1;
}

.controls {
  position: fixed;
  top: calc(var(--canvas_height));
  background-color: #fff;
  z-index: 500;
}
.key--space {
  border: thin solid #ddd;
  cursor: pointer;
  text-align: center;
  width: 40vw;

  font-size: 2em;
  height: 1em;
  line-height: 1em;
}
